.noselect {
    user-select: none;
}

a {
    text-decoration: none;
}

::selection {
    background-color: $purple_bright_color;
    color: $white;
}

body {
    overflow-y: hidden;
    font-family: TypoGraphica, sans-serif !important;
}

.app_pagelayout {
    height: 100vh;
    overflow-y: scroll;
}