.noselect {
    user-select: none;
}

a {
    text-decoration: none;
}

body {
    font-family: cursive;
}

::selection {
    background-color: $purple_bright_color;
    color: $white;
}

body {
    overflow-y: hidden;
}

.app_pagelayout {
    height: 90vh;
    overflow-y: scroll;
}