.contact-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: $white;
    .background-image {
        position: fixed;
        top: 5rem;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
    .card-wrapper {
        font-weight: bold;
        height: 30rem;
        width: 72rem;
        overflow: hidden;
        display: grid;
        grid-template-columns: 28rem 1fr;
        position: relative;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.6);
        min-width: 280px;
        padding: 3rem 1rem;
        .avatar {
            height: 24rem;
            margin: 0 2rem;
        }
        .card-description {
            height: 100%;
            display: grid;
            grid-template-rows: 3rem 1fr 1fr;
            padding: 0 1rem;
            overflow-y: scroll;
            .name {
                font-size: 2rem;
                font-weight: bold;
                text-decoration: underline;
                margin: auto 0;
            }
            .description {
                font-size: 1.5rem;
                line-height: 2rem;
            }
            .contact-details {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                padding: 1rem;
                .contact-item {
                    font-size: 1.2rem;
                    position: relative;
                    margin-right: 1rem;
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            height: 90%;
            width: .2rem;
            align-self: center;
            left: 28.5rem;
            opacity: .3;
            background-color: $white;
        }
    }
}


@media (max-width: 1024px) {
    .contact-page {
        .card-wrapper {
            grid-template-columns: none;
            grid-template-rows: 19rem 1fr;
            padding-top: 2rem;
            justify-items: center;
            height: 80vh;
            width: 90vw;
            .avatar {
                height: 15rem;
                margin: 0;
            }
            &::before {
                top: 19rem;
                left: 5%;
                width: 90%;
                height: .2rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .contact-page {
        .card-wrapper {
            grid-template-rows: 14rem 1fr;
            padding-top: 1rem;
            .avatar {
                height: 10rem;
                align-self: center;
            }
            .card-description {
                grid-template-rows: 2rem 1fr 5rem;
                .contact-details {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
            &::before {
                top: 14rem;
                left: 5%;
                width: 90%;
                height: .2rem;
            }
        }
    }
}