body {
    overflow: hidden;
}

.app_pagelayout {
    padding: .5rem 1rem;
    overflow-y: scroll;
    height: calc(100vh - 5rem - 2rem);
}

.content {
    display: grid;
    margin: 0 auto;
    width: fit-content;
    align-content: center;
    .project-wrapper {
        width: fit-content;
        margin-top: 4rem;
    }
}