body {
    overflow: hidden;
}

.app_pagelayout {
    padding: .5rem 1rem;
    overflow-y: scroll;
    height: calc(100vh - 5rem - 2rem);
    &.full-size {
        height: calc(100vh - 2rem);
        .cv-content {
            height: fit-content;
            margin: 5vh auto !important;
        }
    }
}

.content {
    display: grid;
    margin: 0 auto;
    width: 100%;
    align-content: center;
    .project-wrapper {
        width: fit-content;
        margin-top: 4rem;
    }
}

