.navbar {
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    .navbar-icon {
        padding: 0 1rem;
        height: 100%;
        width: fit-content;
        position: relative;
        cursor: pointer;
        .icon {
            position: relative;
            height: 80%;
            margin: 12% 0;
            border-radius: 0 10px 10px 10px;
            transition: transform .2s;
            z-index: 1;
        }
        .angle {
            position: absolute;
            height: 80%;
            top: 10%;
            left: 35%;
            transition: left .4s;
            animation: alertFunctionality 1s 2;
            &::before {
                background-color: $blue_bright_color;
                position: absolute;
                content: "";
                height: .5rem;
                width: 2.5rem;
                border-radius: 10px;
                transform: rotate(45deg);
                top: 30%;
                transition: transform .3s;
            }
            &::after {
                background-color: $blue_bright_color;
                position: absolute;
                content: "";
                height: .5rem;
                width: 2.5rem;
                border-radius: 10px;
                transform: rotate(-45deg);
                bottom: 28%;
                transition: transform .3s;
            }
        }
        &:hover {
            .icon {
                transform: scale(1.1);
            }
            .angle {
                left: 90%;
            }
        }
    }
    .navbar-content {
        width: 0%;
        height: 80%;
        margin: 0 1rem;
        transition: width .4s ease-in-out;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
        .navbar-item {
            text-decoration: underline;
            font-size: 1.7rem;
            color: $purple_bright_color;
            cursor: pointer;
            transition: color .5s;
            animation: colorChanging 3s infinite;
            &:first-child {
                margin-left: 1rem;
            }
            &:hover {
                color: $grey_color !important;
            }
        }
    }
    &.open {
        .navbar-icon {
            .angle {
                &::before {
                    transform: rotate(-45deg);
                }
                &::after {
                    transform: rotate(45deg);
                }
            }
        }
        .navbar-content {
            width: 100%;
        }
    }
}

.mobile-navbar {
    display: none;
}

@media (max-width: 768px) {
    .mobile-navbar {
        display: flex;
    }
    .page-opacity {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        opacity: .5;
        background: $primary_bg_color;
        transition: transform .5s;
        transform: translateX(-100vw);
        &.open {
            transform: translateX(0);
        }
    }
    .navbar-slide {
        height: 100vh;
        width: 10rem;
        z-index: 3;
        position: fixed;
        top: 0;
        right: 0;
        background: $secondary_bg_color;
        transition: transform .5s;
        transform: translateX(10rem);
        .slide-button {
            position: relative !important;
            left: -12%;
            top: 10%;
            padding: .5rem .2rem !important;
            padding-left: .2rem;
            border-radius: 20px 0 0 20px;
            background: $secondary_bg_color !important;
            color: $white !important;
            .icon {
                color: $white;
                opacity: 1;
                transition: transform 1s !important;
            }
        }
        .slide-content {
            padding: 1rem 1rem;
            height: 100%;
            .navbar-items {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                row-gap: .7rem;
                .navbar-item {
                    background: transparent;
                    color: $white;
                    font-weight: bold;
                    padding: .2rem !important;
                    border-bottom: 2px $purple_bright_color solid;
                }
            }
        }
        .social-media {
            display: grid;
            grid-template-columns: repeat(var(--social-count), 1fr);
            width: calc(100% - 2rem);
            position: fixed;
            bottom: 5%;
            .footer-item {
                margin: auto;
                .link-icon {
                    transform: scale(1.5);
                    width: 1rem;
                }
            }
        }
        &.open {
            transform: translateZ(0);
            .slide-button {
                .icon {
                    transform: rotateZ(180deg);
                    position: relative;
                    top: .1rem;
                    left: .1rem;
                }
            }
        }
    }
}