.mobile-navbar {
    display: none;
}
.navbar {
    z-index: 3;
    height: 5rem;
    background: $grey_color;
    display: flex;
    align-items: center;
    padding: .2rem 1rem;
    color: $white;
    overflow: hidden;
    .navbar-icon {
        display: flex;
        align-items: center;
        font-family: cursive;
        font-weight: bold;
        font-size: 1.5rem;
        width: fit-content;
        cursor: pointer;
        position: relative;
        .header-name {
            position: absolute;
            top: calc((-100% + 6rem) / 2);
            left: 5rem;
            .split-text {
                position: relative;
                top: 1.5rem;
                left: -30%;
            }
        }
        .icon {
            width: 4.5rem;
            height: 4.5rem;
        }
    }
    .navbar-items {
        display: flex;
        position: relative;
        top: calc(100% - 3.2rem); // 3rem - height of each item | .2rem - padding-top of parent
        left: 10rem;
        text-align: center;
        height: 2rem;
        width: fit-content;
        .navbar-item {
            line-height: 2rem;
            background: $purple_bright_color;
            color: $white;
            font-weight: bolder;
            font-size: 1.2rem;
            width: 8rem;
            height: 100%;
            margin-right: .4rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            &.active {
                border: 3px solid $purple_bright_color;
                border-bottom: none;
                background: transparent;
                color: $white;
            }
            &:hover {
                background: $grey_light_color;
            }
        }
    }
    .social-media {
        display: grid;
        grid-template-columns: repeat(var(--social-count), 1fr);
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 1rem;
        .footer-item {
            margin-right: .5rem;
            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    .mobile-navbar {
        width: 100%;
        height: 5rem;
        background: $grey_color;
        display: flex;
        padding: .2rem 1rem;
        color: $white;
        .navbar-icon {
            display: flex;
            font-family: cursive;
            font-weight: bold;
            font-size: 1.5rem;
            width: fit-content;
            cursor: pointer;
            position: relative;
            .header-name {
                position: absolute;
                top: calc((-100% + 6rem) / 2);
                left: 5rem;
                .split-text {
                    position: relative;
                    top: 1.5rem;
                    left: -30%;
                }
            }
            .icon {
                width: 4.5rem;
                height: 4.5rem;
            }
        }
    }
    .page-opacity {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        opacity: .5;
        background: $primary_bg_color;
        transition: transform .5s;
        transform: translateX(-100vw);
        &.open {
            transform: translateX(0);
        }
    }
    .navbar-slide {
        height: 100vh;
        width: 10rem;
        z-index: 3;
        position: fixed;
        top: 0;
        right: 0;
        background: $secondary_bg_color;
        transition: transform .5s;
        transform: translateX(10rem);
        .slide-button {
            position: relative !important;
            left: -12%;
            top: 10%;
            padding: .5rem .2rem !important;
            padding-left: .2rem;
            border-radius: 20px 0 0 20px;
            background: $secondary_bg_color !important;
            color: $white !important;
            .icon {
                color: $white;
                opacity: 1;
                transition: transform 1s !important;
            }
        }
        .slide-content {
            padding: 1rem 1rem;
            height: 100%;
            .navbar-items {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                row-gap: .7rem;
                .navbar-item {
                    background: transparent;
                    color: $white;
                    font-weight: bold;
                    padding: .2rem !important;
                    border-bottom: 2px $purple_bright_color solid;
                }
            }
        }
        .social-media {
            display: grid;
            grid-template-columns: repeat(var(--social-count), 1fr);
            width: calc(100% - 2rem);
            position: fixed;
            bottom: 5%;
            .footer-item {
                margin: auto;
                .link-icon {
                    transform: scale(1.5);
                    width: 1rem;
                }
            }
        }
        &.open {
            transform: translateZ(0);
            .slide-button {
                .icon {
                    transform: rotateZ(180deg);
                    position: relative;
                    top: .1rem;
                    left: .1rem;
                }
            }
        }
    }
}