.projects-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 29rem);
    justify-content: center;
    .project-slot {
        height: 15rem;
        width: 29rem;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
        .project-link {
            height: 100%;
            color: $purple_bright_color;
            text-shadow: 3px 3px $white;
            text-decoration: none;
            font-weight: bolder;
            font-size: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.discontinued,
        &.paused,
        &.ongoing,
        &.finished {
            &::before {
                content: var(--state);
                font-family: cursive;
                width: 100%;
                height: 2.5rem;
                position: absolute;
                left: 60%;
                top: 5%;
                color: white;
                font-size: 1.6rem;
                font-weight: bold;
                text-align: left;
                padding-left: 1.5rem;
                clip-path: polygon(0% 0%, 3% 50%, 0% 100%, 100% 100%, 100% 0%);
            }
        }
        &.discontinued {
            &::before {
                padding-top: .4rem;
                background: $red;
            }
        }
        &.paused {
            &::before {
                padding-top: .3rem;
                background: $grey_color;
            }
        }
        &.ongoing {
            &::before {
                padding-top: .3rem;
                background: $orange_bright_color;
            }
        }
        &.finished {
            &::before {
                padding-top: .4rem;
                background: $green_light_color;
            }
        }
        &:hover {
            opacity: .4;
            translate: (-50%,-50%) scale(1);
            transition: translate .15s ease-in-out;
        }
    }
}