.loading-animation {
    display: flex;
    justify-content: center;
    position: absolute;
    top: calc(50% - 2.6rem);
    left: calc(50% - 2.6rem);
    height: 6rem;
    width: 6rem;
    .loading-circle {
        background: linear-gradient(to right, red, purple);
        height: inherit;
        width: inherit;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        animation: rotate360 .35s infinite;
        position: absolute;
        &::before {
            content: "";
            width: 5.2rem;
            height: 5.2rem;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: calc(100% - 5.6rem);
            left: calc(100% - 5.6rem);
        }
    }
    .loading-text {
        z-index: 2;
        position: relative;
        top: 6.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}