.admin-modal {
    .carousel-button {
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: .5rem;
        align-items: center;
        text-align: center;
        color: $white;
        font-weight: bold;
        font-size: 1.25rem;
        text-decoration: underline;
        line-height: 1.5rem;
        top: calc(50% - 6rem);
        width: 7rem;
        .button {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            .icon {
                margin-top: .3rem !important;
                font-size: 2rem;
                width: 100%;
            }
        }
        &.previous {
            left: -10rem;
        }
        &.next {
            right: -10rem;
        }
    }
    .content {
        height: 40rem;
        position: relative;
        .table {
            .table-header {
                th {
                    text-align: center;
                    &.timestamp-cell {
                        width: 15rem;
                    }
                }
            }
            .table-body {
                height: fit-content;
                .table-row {
                    height: 5rem;
                    .location-cell {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        height: 5rem;
                        text-align: left;
                        .image {
                            margin-right: .5rem;
                        }
                    }
                    td {
                        text-align: center;
                    }
                    .tablerow-content {
                        width: fit-content;
                    }
                    &.selected,
                    &:hover {
                        background: $dark_white !important;
                        color: $black !important;
                    }
                }
            }
            .table-footer {
                position: fixed;
                top: calc(100% - 4.7rem);
            }
        }
    }
}