$black: #0a0a0a;
$primary_bg_color: #101011;
$secondary_bg_color: #1f1f22;
$red_color: #b64240;
$red_dark_color: #672c2c;
$grey_light_color: #888;
$grey_color: #666;
$grey_dark_color: #444;
$green_color: #659063;
$green_bright_color: #51b971;
$orange_bright_color: #e9a626;
$white: #ddd;