@import './variables';
@import './includes';

.noselect {
    user-select: none !important;
}

a {
    text-decoration: none !important;
}

// ::selection {
//     background-color: $purple_bright_color;
//     color: $white;
// }

body {
	margin: 0 !important;
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
}