.spotify {
    width: 100%;
    height: 100%;
    .spotify-navbar {
        width: 100%;
        height: fit-content;
        .userTag-wrapper {
            position: absolute;
            right: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 5px 10px $black;
            width: 10rem;
            height: 3.5rem;
            background-color: $spotify_green_color;
            border-radius: 2rem;
            width: calc(var(--pfpWidth) + 5px);
            .image {
                padding: .6rem;
                margin: 0;
                width: calc(var(--pfpWidth) + 5px);
                height: calc(var(--pfpHeight) + 5px);
                .fa-user {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            .menu-wrapper {
                display: none;
                a {
                    &::after {
                        content: "*"
                    }
                }
                &.true {
                    border-radius: .2rem;
                    display: block;
                    width: 120px;
                    text-align: center;
                    position: absolute;
                    z-index: 1;
                    bottom: .7rem;
                    right: 5rem;
                    padding: .2rem .4rem;
                    width: 7rem;
                    font-weight: bold;
                    font-size: 1.3rem;
                    color: $white;
                    background-color: $grey_color;
                    &::after {
                        content: "";
                        position: absolute;
                        clip-path: polygon(0 0, 48% 37%, 53% 43%, 55% 46%, 53% 52%, 48% 57%, 0 100%);
                        bottom: .15rem;
                        right: -1.4rem;
                        height: 1.5rem;
                        width: 1.5rem;
                        background-color: inherit;
                    }
                }
                .name {
                    text-decoration: none;
                    color: $white !important;
                }
            }
            &:hover {
                background-color: $green_light_color;
            }
        }
    }
}