.content {
    display: flex;
    justify-content: center;
    .problem-solving-wrapper {
        margin-top: 4rem;
        width: fit-content;
        display: flex;
        flex-direction: column;
        .problem-solving-title {
            text-decoration: none;
            color: $black;
            font-weight: bolder;
            font-size: 2rem;
            position: relative;
            width: fit-content;
            &:hover {
                color: $purple_bright_color;
                &::before {
                    visibility: visible;
                    width: 100%;
                }
            }
            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: .1rem;
                bottom: 0;
                left: 0;
                background-color: #000;
                visibility: hidden;
                transition: all 0.4s ease-in-out;
            }
        }
        .problem-solving-content {
            display: grid;
            row-gap: .5rem;
            margin: 1rem 0;
            .problem-solving-input {
                display: grid;
                grid-template-columns: repeat(var(--inputCount), 1fr);
                .custom-input-field {
                    padding: .3rem .8rem;
                }
            }
            .problem-solving-output {
                font-size: 1.3rem;
            }
        }
    }
}