@font-face {
    font-family: TypoGraphica;
    src: url(./Typographica-Blp5.ttf);
}

@font-face {
    font-family: IndieFlower;
    src: url(./IndieFlower-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(//fonts.googleapis.com/css?family=Lato:300:400);
}